/* Colors
Green: #49a09d
Lilac: #5f2c82
*/
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #5f2c82;
    width: 100vw;
    height: 100vw;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    transform:translate(-50%, -50%) ;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.463);

    transition: width .3s height .3s;
    transition-timing-function: ease;
}

section#login > div#image {
    display: block;
    background: #5f2c82 url(../images/pexels-mithulvarshan-3023211.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}

section#login > div#form {
    display: block;
    padding: 10px;
}

div#form > h1{
    text-align: center;
    margin-bottom:10px ;

}

div#form > p{
    font-size: 1.5em;
}